.header{
  background: url(../../resources/img/main-bg.webp) center (center/cover) no-repeat;
  padding-top: 20px;
  min-height: 260px;
  filter: grayscale(0.35);
  color: #fff;

  &_info{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;

    &_heading{
      font-size: 40px;
      font-weight: 700;
      margin: 10px 0;
    }

    &_descr{
      line-height: 45px;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      margin: 25px 0;
      line-height: 50px;
    }

    hr{
      display: block;
      width: 300px;
      height: 5px;
    }
    
    &_btn{
      margin-bottom: 200px;
      height: 30px;
      width: 120px;
      font-size: 14px;
    }
  }
}