.nav{
  width: 33%;

  &_top{
    padding-top: 30px;

    .nav_links_item{
      &:first-child {
        &::before{
          background: url(../../resources/icons/beans-transparent-white.svg) center (center/cover) no-repeat;
        }
      }
    }

    .nav_links_item_link{
      color: #fff;
    }    
  }

  &_bottom{
    margin-bottom: 30px;

    .nav_links_item{
      &:first-child {
        &::before{
          background: url(../../resources/icons/beans-transparent-black.svg) center (center/cover) no-repeat;
        }
      }
    }

    .nav_links_item_link{
      color: #000;
    } 
  }

  &_links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style-type: none;

    &_item{
      position: relative;

      &:first-child {
        &::before{
          content: '';
          position: absolute;
          z-index: -1;
          width: 35px;
          height: 35px;
          top: -16px;
          left: -30px;
        }
      }
      
      &_link{
        font-size: 12px;
        font-weight: 300;
        text-decoration: none;
      }
    }
  }
}